.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #000;
    width: 85%;
    height: 90%;
    margin: auto;

    & > .content-header {
        border-bottom: 1px solid #ccc;        
        width: auto;
    }

    & > .content-body {
        background-color: #f0f0f0;
        border: #ccc;
        flex-grow: 1;
        margin: 10px;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;


        & > .a-faire-column, .en-cours-column, .termine-column {
            background-color: #fff;
            border: 1px solid #000;
            padding: 10px;
            /* height: fit-content; */

            & > .event-a-faire-container div, .event-en-cours-container div, .event-termine-container div {
                background-color: #ccc;
                border: 1px solid #000;
                padding: 10px;
                height: fit-content;
                margin-bottom: 5px;
            }
        }
    }
}